.profileContainer {
	background-color: white;
	margin-top: 5%;
	margin-left: 35%;
	width: 30%;
	border-radius: 15px;
	padding-top: 8%;
	padding-bottom: 5%;
	box-shadow:  0 10px 16px rgba(0,0,0,.1);
	text-align: center;
	font-size: 3rem;
	font-family: '나눔고딕';
	font-weight: 800;
	text-shadow: 0 10px 16px rgba(0,0,0,.05);;
}

.name {
	padding-top: 2.5%;
}

.tags {
	margin-top: 2.5%;
	font-size: 0.75rem;
	color: black;
	font-weight: 450;
	margin-left: 20%;
	width: 60%;
	border-radius: 20px;
	background-color: rgba(0,0,0,.05);
}

.intro {
	font-size: 1rem;
	text-align: center;
	padding: 5% 5% 10% 10%;
	font-weight: 350;
}